.body {
    margin: 0;
    padding: 0;
    width: 1366px;
    height: 768px;
    background-size: cover;
    background-image: url('Images/background.png')
}

.centerInfo {
    position: absolute;
    top: 130px;
    left: 500px;
    background: transparent;
}

#bigImageBorder {
    width: 100%;
    height: 100%;
}

#bigImagePoster {
    top: 8px;
    left: 8px;
    position: absolute;
}

#bigImagePortal {
    position: absolute;
    top: 114px;
    left: -30px;
    animation: portalmove 1.2s infinite;
}

@keyframes portalmove {
    0% {
        left: -40px
    }
    50% {
        left: -28px
    }
    100% {
        left: -40px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeAnimation {
    0%   { opacity:0.4; }
    25%   { opacity:0.6; }
    50%  { opacity:0.8; }
    100% { opacity:1; }
  }

.Movie_Title {
    display: inline-flex;
    position: absolute;
    left: 429px;
    top: 12px;
    width: 527px;
    height: 67px;
}

.Movie_List_Title1{
    display: inline-flex;
    position: absolute;
    left: 73px;
    top: 121px;
    width: 150px;
    height: 50px;

}
.Movie_List_Title1 p{
    flex: 1;
    color: white;
    font-family: 'Lucida Sans Typewriter';
    font-size: 14px;
    font-style: oblique;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    opacity: 0.69;
    animation: fadeAnimation 1s infinite alternate;
}
.Movie_Title p {
    flex: 1;
    color: white;
    font-family: 'Lucida Sans Typewriter';
    font-size: 35px;
    font-style: italic;
    text-align: center;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}